<div id="<%= dom_id day %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Diet:</strong>
    <%= day.diet_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= day.date %>
  </p>

</div>
