<div id="<%= dom_id meal %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Day:</strong>
    <%= meal.day_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Meal type:</strong>
    <%= meal.meal_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= meal.notes %>
  </p>

</div>
